
<h1>Ingresar nueva Moto:</h1>
<form class="/api/user/form" action="index.hbs" method="put">
  <input type="text" name="id" >
  <input type="text" name="name" >
  <input type="text" name="mark" >
  <input type="text" name="model" >
  <input type="text" name="type" >
  <input type="text" name="cost" >
  <input type="button"  value="Guardar">
</form>